// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/

:root {
    /** primary **/
    --ion-color-primary: #456592;
    --ion-color-primary-rgb: 69, 101, 146;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #3d5980;
    --ion-color-primary-tint: #58749d;
    /** secondary **/
    --ion-color-secondary: #32db64;
    --ion-color-secondary-rgb: 50, 219, 100;
    --ion-color-secondary-contrast: #000000;
    --ion-color-secondary-contrast-rgb: 0, 0, 0;
    --ion-color-secondary-shade: #2cc158;
    --ion-color-secondary-tint: #47df74;
    /** tertiary **/
    --ion-color-tertiary: #DFF0FD;
    --ion-color-tertiary-rgb: 223, 240, 253;
    --ion-color-tertiary-contrast: #000000;
    --ion-color-tertiary-contrast-rgb: 0, 0, 0;
    --ion-color-tertiary-shade: #c4d3df;
    --ion-color-tertiary-tint: #e2f2fd;
    /** success **/
    --ion-color-success: #10dc60;
    --ion-color-success-rgb: 16, 220, 96;
    --ion-color-success-contrast: #ffffff;
    --ion-color-success-contrast-rgb: 255, 255, 255;
    --ion-color-success-shade: #0ec254;
    --ion-color-success-tint: #28e070;
    /** warning **/
    --ion-color-warning: #ffce00;
    --ion-color-warning-rgb: 255, 206, 0;
    --ion-color-warning-contrast: #ffffff;
    --ion-color-warning-contrast-rgb: 255, 255, 255;
    --ion-color-warning-shade: #e0b500;
    --ion-color-warning-tint: #ffd31a;
    /** danger **/
    --ion-color-danger: #CB2525;
    --ion-color-danger-rgb: 203, 37, 37;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #b32121;
    --ion-color-danger-tint: #d03b3b;
    /** dark **/
    --ion-color-dark: #222222;
    --ion-color-dark-rgb: 34, 34, 34;
    --ion-color-dark-contrast: #ffffff;
    --ion-color-dark-contrast-rgb: 255, 255, 255;
    --ion-color-dark-shade: #1e1e1e;
    --ion-color-dark-tint: #383838;
    /** medium **/
    --ion-color-medium: #A5A5A5;
    --ion-color-medium-rgb: 165, 165, 165;
    --ion-color-medium-contrast: #000000;
    --ion-color-medium-contrast-rgb: 0, 0, 0;
    --ion-color-medium-shade: #919191;
    --ion-color-medium-tint: #aeaeae;
    /** light **/
    --ion-color-light: #f4f4f4;
    --ion-color-light-rgb: 244, 244, 244;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0, 0, 0;
    --ion-color-light-shade: #d7d7d7;
    --ion-color-light-tint: #f5f5f5;
}