// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These 
// styles are for the entire app and not just one component. Additionally, this 
// file can hold Sass mixins, functions, and placeholder classes to be imported 
// and used throughout the application.
p {
    color: #222;
}

.icon-column {
    display: flex;
    align-items: center;
    justify-content: center;
    &--danger {
        background: var(--ion-color-danger);
    }
    ion-icon {
        font-size: 2em;
    }
    &--no-vertical {
        align-items: flex-start;
    }
    .icon-favorite {
        margin-top: 5px;
        padding: 0.2em;
        border: 1px solid;
        border-radius: 2px;
    }
}

ion-card-header {
    padding: 13px 16px;
}

ion-card-content {
    transition: height .3s ease;
}

ion-tab-button {
    ion-label {
        text-transform: uppercase;
    }
}