<ion-content>
    <div *ngIf="showBlank" class="favorite-tab-no-content">
        <img src="assets/img/favorites-image.png" class="favorite-image" />
        <p padding class="favorite-blurb">
            No favorites yet?
            <br> Click the heart on any of our services and you'll see them appear here.
        </p>
    </div>
    <div *ngIf="!showBlank" class="favorite-tab-no-content">
        <img src="assets/img/favorites-image.png" class="favorite-image" />
        <p padding class="favorite-blurb" *ngFor="let favorite of favorites" [innerHTML]="favorite.id"></p>
    </div>
</ion-content>

<!-- <ion-content>
    <ion-card *ngFor="let service of services" (click)="serviceClick(category, service.html, service.price, service.title, service.img, service.id)">
        <div class="image_holder">
            <img src="{{service.img}}" class="image_element" />
        </div>
        <ion-item color="cardbackground" [ngStyle]="{'height.px': 130}">
            </ion-item>
        <ion-row>
            <ion-col>
                <ion-item class="title_element" text-wrap>{{service.title}}</ion-item>
            </ion-col>
            <ion-col class="down_icon center" [ngStyle]="{'max-width.em': 4.0}">
                <button ion-button full icon-only class="down_button" (click)="showDetails(service)"><ion-icon [name]="service.icon_name" color="blanche" clear></ion-icon></button>
            </ion-col>
        </ion-row>
        <ion-row [hidden]="service.hidden">
            <ion-col width-66>
                <div [innerHtml]="service.html" class="details"></div>
            </ion-col>
            <ion-col width-33>
                <div class="price-floating" item-right *ngIf="service.price > 0">${{service.price}}</div>
                <div>
                    <button ion-button outline icon-only item-right [color]="service.color" [ngStyle]="{float: 'right'}" (click)="changeBookmarkStatus(service)">
                            <ion-icon clear name="heart" [color]="service.color" class="heart-icon"></ion-icon>
                        </button>
                </div>
            </ion-col>
        </ion-row>
    </ion-card>
    <div *ngIf="show_blank">
        <img src="assets/img/favorites-image.png" class="favorite-image" />
        <p ion-text class="center favorite-blurb">
            No favorites yet?
            <br> Click the heart on any of our services
            <br> and you'll see them appear here.
        </p>
    </div>
</ion-content> -->